body{
	overflow-y:scroll;
	margin:0px;
	padding:0px;
}
a{
	text-decoration:none;
}
.a_change{
	color:#379bff;
	cursor:pointer;
}
.a_change:hover{
	color:#379bff;
	text-decoration:underline;
}
.a_change_01:hover{
	text-decoration:underline;
}
.top_right a img{
	vertical-align:middle;
}
.box_content{
	width:1200px;
	margin:0 auto;
}
.logo_box{
	margin-top:20px;
	overflow:hidden;
}
.logo{
	float:left;
	width:140px;
	height:50px;
	background-image:url(../images/mix_page_02.png);
	background-repeat:no-repeat;
	margin-top:15px;
}
.search_box{
	float:right;
	width:606px;
}
.search_option{
	font-size:12px;
	font-family:'Microsoft YaHei';
	color:#7f7f7f;
	height:20px;
	line-height:20px;
}
.search_option a{
	margin:0px 5px;
	cursor:pointer;
}
.selected{
	color:#323232;
	font-weight:bold;
}
.search{
	float:left;
	height:34px;
	width:502px;
	border:2px solid #ed1c24;
}
.search input{
	width:500px;
	height:32px;
	border:none;
	padding-left:4px;
}
.btn_search{
	display:inline-block;
	width:60px;
	height:38px;
	line-height:38px;
	float:left;
	background-color:#ed1c24;
	color:#fff;
	font-family:'Microsoft YaHei';
	background-position: 10px -57px;
	background-image:url(../images/mix_page_02.png);
	background-repeat:no-repeat;
	padding-left:40px;
}
.bottom_link{
	color:#7f7f7f;
	text-align:center;
	margin-top:15px;
	font-size:0.85em;
	line-height:25px;
	}
.bottom_link a{
	color:#7f7f7f;
	margin:0px 10px;
	font-size:12px;
	}
.bottom_link a:hover{
	text-decoration:underline;
	color:#7f7f7f;
	}
.bottom_qq a{
	vertical-align:sub;
}
.zdx{
	height:50px;
	width:1200px;
	margin:0 auto;
	text-align:center;
	color:#7f7f7f;
	font-size:12px;
	}
.zdx_img{
	display:inline-block;
	width:100px;
	height:50px;
	background-image:url(/htdocs/images/mix_page_02.png);
	background-repeat:no-repeat;
	vertical-align:middle;
	margin-bottom:6px;
	background-position: 10px -117px;
	}
.zdx_text{
	display:inline-block;
	line-height:50px;
	color: #7f7f7f;
	}
.index_bottom {
	background-color:#f8f8f8;
	overflow:hidden;
	padding-top:10px;
	margin-top:20px;
}
.pages_foot_link{
	width:1200px;
	margin:0 auto;
	text-align:center;
	margin-top:10px;
}
.pages_foot_link span{
	font-weight:bold;
}
.pages_foot_link a{
	color:#7f7f7f;
	margin-left:10px;
}
.comDetail_left{
	float:left;
	border-top:none;
	overflow:hidden;
}
.comDetail_main{
	border-top:1px solid #ed1c24;
	margin-top:10px;
	overflow:hidden;
	margin-bottom:30px;
}
.comsDetail_left{
	float:left;
	width:235px;
	min-height:100px;
}
.comsDetail_right{
	float:left;
	width:763px;
	padding:10px 20px;
	padding-right:10px;
}
.top_nav{
	height:35px;
	line-height:35px;
	background-color:#f8f8f8;
	border-bottom:1px solid #dedede;
	margin-bottom:10px;
	font-size:12px;
	font-family:'Microsoft YaHei';
	color:#323232;
}
.top_main{
	width:1200px;
	margin:0 auto;
}
.top_right{
	float:right;
}
.top_right a{
	margin:0px 10px;
	color:#323232;
}
.bottom_qq{
	text-align:center;
	color:#7f7f7f;
	margin-top:10px;
	font-size:12px;
}
.wzdh_qq{
	color:#555;
	margin-top:10px;
}
.box_wzdh{
	width:1200px;
	margin:0 auto;
}
.box_wzdh_main{
	border:1px solid #dedede;
	padding:20px;
	min-height:390px;
	margin-bottom:50px;
	margin-top:10px;
}
.wzdh_sbox{
	margin:35px 25px;
}
.wzdh_sbox a{
	margin-left:20px;
	color:#379bff;
	line-height:30px;
}
.wzdh_sbox .link-title{
	font-weight:bold;
}
.contact_text{
	  font-size: 12px;
  line-height: 30px;
  color: #555;
}
.ad_lx{
	background-image:url(../images/ad_small.png);
	background-repeat:no-repeat;
	background-position:center center;
	margin:30px auto;
	display:block;
	height:100px;
	width:900px;
	border:1px solid #dedede;
}
.map_title{
	font-weight:bold;
	font-size:14px;
	line-height:30px;
}
.lx_banner{
	background-image:url(../images/lx_banner.png);
	background-repeat:no-repeat;
	background-position:center center;
	height:200px;
	width:1000px;
	margin:0px auto;
	margin-bottom:20px;
}
.rmdq_sbox_title{
	font-weight:bold;
	line-height:30px;
	display:block;
}
.rmdq_main{
	margin-right:10px;
}
.rmdq_sbox{
	margin-bottom:20px;
}
.nav{
	height:36px;
	line-height:36px;
	border-bottom:2px solid #ff9b37;
	margin-top:20px;
}
.nav a{
	width:100px;
	height:36px;
	text-align:center;
	line-height:36px;
	display:inline-block;
	color:#323232;
	font-family:'Microsoft YaHei';
	font-size:16px;
	cursor:pointer;
}
.nav .nav_selected{
	background-color:#ff9b37;
	color:#fff;
}
.mbx{
	height:36px;
	line-height:36px;
	border-bottom:1px solid #dedede;
	font-size:12px;
}
.mbx a{
	color:#379bff;
	cursor:pointer;
}
.xgtj{
	font-size:12px;
	display:block;
	margin-top:10px;
}
.xgtj a{
	margin-right:10px;
}
.list_main{
	margin-top:10px;
	overflow:hidden;
}
.list_right{
	float:left;
	width:950px;
	border-top:1px solid #dedede;
}
.list_content{
	padding:30px 20px;
	border-bottom:1px dashed #dedede; 
	overflow:hidden;
}
.list_content .list_title{
	display:inline-block;
	vertical-align:middle;
	font-size:16px;
	font-family:'Microsoft YaHei';
	 width: 280px;
	 margin-right:20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.list_content .list_title a{
	color:#379bff;
}
.detail_box .marginRight a{
	color:#379bff;
}
.list_zy{
	display:inline-block;
	vertical-align:middle;
	font-size:12px;
	line-height:24px;
	width:580px;
	margin-right:20px;
	text-overflow: ellipsis;
	  overflow: hidden;
	  white-space: nowrap;
	  line-height:30px;
}
.gray_font_01{
	color:#7f7f7f;
}
.marginLeft_01{
	margin-left:30px;
}
.list_location{
	display:inline-block;
	vertical-align:middle;
	font-size:12px;
}
.list_location a{
	color:#379bff;
}
.list_left{
	float:right;
	width:235px;
}
.qytj_list{
	border:1px solid #dedede;
	border-bottom:none;
}
.list_tj_box{
	margin-left:10px;
}
.qytj_title{
	display:block;
	background-color:#f8f8f8;
	border-bottom:1px solid #dedede;
	height:30px;
	line-height:30px;
	text-align:center;
	font-family:Microsoft YaHei;
	font-size:14px;
	font-weight:bold;
}
.qytj_title a{
	float:right;
	font-size:12px;
	font-weight:normal;
	margin-right:10px;
}
.qytj_box{
	padding:10px;
	border-bottom:1px solid #dedede;
	line-height:26px;
}
.qytj_box a{
	color:#379bff;
	font-weight:bold;
	font-size:14px;
}
.qytj_box span{
	color:#7f7f7f;
	font-size:12px;
}
.page{
	height:100px;
}
.wnty_list{
	border-bottom:1px solid #dedede;
	padding-bottom:10px;
}
.detail_right{
	float:left;
	width:950px;
}
.detail_title{
	text-align:center;
}
.detail_box{
	width:800px;
	padding:20px;
	border:1px solid #dedede;
	margin:20px auto;
	margin-bottom:40px;
	font-size:12px;
}
.box_title{
	font-size:14px;
}
.marginRight{
	width:600px;
	border-bottom:1px dashed #dedede;
	margin-left:100px;
	line-height:40px;
}
.lxr{
	letter-spacing:5px;
}
.ck_btn{
	background-color:#ff9b37;
	display:inline-block;
	margin:20px;
	width:100px;
	height:30px;
	line-height:30px;
	text-align:center;
	margin-left:30px;
	color:#fff;
	font-family:Microsoft YaHei;
	font-weight:bold;
}
.tlgs_box a{
	  display: inline-block;
  margin-right: 20px;
  color: #323232;
  cursor: pointer;
  margin-top: 15px;
  height: 24px;
  line-height: 24px;
  padding: 0px 10px;
  border: 1px solid #dedede;
  background-color: #f8f8f8;
  width: 150px;
  text-overflow: ellipsis;
	  overflow: hidden;
	  white-space: nowrap;
	  text-align:center;
}
.tlgs_box a:hover{
	font-weight:bold;
}
.gsjj_sbox{
	margin-top:20px;
	max-height:300px;
	overflow-y:auto;
	line-height:30px;
}
.detail_tuijan{
	border:1px solid #dedede;
	padding:10px;
}
.detail_mbx{
	margin-top:10px;
	border-bottom:none;
}
.detali_tj_title{
	display:block;
	height:40px;
	line-height:40px;
	background-image:url(../images/mix_page_02.png);
	background-repeat:no-repeat;
	background-position:35px -197px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
}
.line{
	height:1px ;
	background-color:#dedede;
	-moz-box-shadow:1px 1px 1px #dedede;
	-weblit-box-shadow:1px 1px 1px #dedede;
	box-shadow:1px 1px 1px #dedede;
	}
.detail_tj_sbox table{
	width:211px;
	height:211px;
}
.detail_tj_sbox{
	display:block;
	width:211px;
	height:211px;
	margin-top:20px;
	border:1px solid #dedede;
	cursor:pointer;
}
.detail_tj_sbox:hover{
	-moz-box-shadow:1px 1px 1px #dedede;
	-weblit-box-shadow:1px 1px 1px #dedede;
	box-shadow:1px 1px 1px #dedede;
}
.detail_tj_sbox table img{
	max-width:205px;
	max-height:205px;
}
.marginRight span{
	display:inline-block;
	width:100px;
	text-align:right;
	margin-right:20px;
}
.shop_title{
	height:50px;
	background-color:#f8f8f8;
	line-height:50px;
	border:1px solid #dedede;
	padding-left:30px;
}
.shop_title h1{
	display:inline;
	font-size:18px;
	color:#ca4341;
	font-weight:bold;
}
.shop_search{
	float:right;
	margin-right:20px;
}
.shop_search input{
	width:140px;
	height:30px;
	vertical-align:middle;
	margin-top:8px;
	border:1px solid #dedede;
}
.shop_search a{
	display:inline-block;
	width:60px;
	height:28px;
	font-size:12px;
	color:#323232;
	line-height:28px;
	border:1px solid #dedede;
	vertical-align:middle;
	margin-top:8px;
	text-align:center;
	border-left:none;
	background-image:url(../images/btn_bg_page.png);
	cursor:pointer;
}
.shop_search a:hover{
	background-image:none;
	background-color:#eee;
}
.line_01{
	height:2px;
	background-color:#ca4341;
	margin:10px 0px;
}
.shop_nav a{
	display:inline-block;
	width:169px;
	height:40px;
	background-color:#f8f8f8;
	border-right:1px solid #fff;
	line-height:40px;
	font-family:'Microsoft YaHei';
	font-size:14px;
	text-align:center;
	margin-left:-7px;
	cursor:pointer;
	color:#323232;
}
.shop_nav a:nth-child(0n+1){
	margin-left:2px;
}
.shop_nav .active{
	background-color:#ca4341;
	color:#fff;
}
.shop_nav a:hover{
	background-color:#ca4341;
	color:#fff;
}
.img_box{
	text-align:center;
	width:1200px;
	margin-top:20px;
	margin-bottom:10px;
}
.mbx_shop{
	height:30px;
	line-height:30px;
	font-size:12px;
}
.box_shop_main{
	font-size:12px;
	min-height:150px;
}
.shop_jj{
	height:36px;
	line-height:36px;
	margin-top:10px;
	border:1px solid #dedede;
	padding:0px 20px;
}
.gray_font{
	color:#7f7f7f;
	margin-left:30px;
}
.gray_font:nth-child(0n+1){
	margin-left:0px;
}
.shop_text{
	line-height:30px;
	margin-top:20px;
}
.bottom_shop{
	height:50px;
	line-height:50px;
	background-color:#f8f8f8;
	margin-top:20px;
	text-align:center;
	font-size:12px;
	color:#7f7f7f;
}
.tab_gycp{
	width:80%;
	margin:0px auto;
	border-collapse: collapse;
}
.tab_gycp tr{
	height:50px;
}
.tab_gycp td{
	border:1px solid #dedede;
	font-size:12px;
	padding-left:10px;
	min-width:200px;
}
.tab_gycp tr td:nth-child(2n+1){
	background-color:#f8f8f8;
	width:200px;
	text-align:center;
	padding-left:0px;
}
.marginLeft{
	margin-left:400px;
}
.jbzg{
	display:block;
	width:380px;
	cursor:pointer;
	height:200px;
	background-image:url(../images/mix_page_02.png);
	background-position:0px -245px;
}
.cpl{
	display:block;
	width:380px;
	cursor:pointer;
	height:200px;
	background-image:url(../images/mix_page_02.png);
	background-position:0px -460px;
	background-repeat:no-repeat;
}
.zizhi_text{
	color:#ff9b37;
	display:block;
}
.ppxx_tab{
	width:600px;
	border-collapse: collapse;
	margin-left:300px;
}
.ppxx_tab tr{
	height:40px;
}
.ppxx_tab td{
	border:1px solid #dedede;
	font-size:12px;
	padding-left:10px;
}
.ppxx_tab tr td:nth-child(2n+1){
	background-color:#f8f8f8;
	width:200px;
	text-align:center;
	padding-left:0px;
}
.hzjm_tab{
	width:100%;
	margin-left:0px;
}
.hzjm_tab tr td:nth-child(2n+1){
	background-color:#f8f8f8;
	width:150px;
	text-align:center;
	padding-left:0px;
}
.shop_title_en h1{
	font-family:'arial';
}
.shop_search_en a{
font-family:'arial';
}
.change_lang,.change_lang_01{
	line-height:30px;
	overflow:hidden;
}
.change_lang a{
	float:right;
	font-size:12px;
	color:#379bff;
}
.change_lang_01 a{
	float:right;
	font-size:12px;
	color:#379bff;
	font-family:'arial';
}
.beianhao{
	font-size:12px;
	color:#7f7f7f;
}
.beianhao:hover{
	text-decoration:underline;
}
.pagination{display:inline-block; overflow:hidden;font-size:12px; color:#323232; margin:20px auto; height:50px; }
.pagination a{ display:block; width:100%; height:100%; color:#323232;}
.pagination a:hover{color:#fff;}
.pagination_seller .active{color:#fff; background-color:#ed1c24; border:1px solid #ed1c24;}
.pagination_seller{ font-family:"Microsoft YaHei"}
.pagination_seller li{ display:block; float:left; margin-right:5px; width:35px; height:35px; line-height:35px; cursor:pointer; text-align:center;}
.pagination_seller li a{border:1px solid #ccc}
.pagination_seller li a:hover{  background-color:#ed1c24; color:#fff;border:1px solid #ed1c24}
.pagination_buyer{ font-family:'arial'}
.pagination_buyer li{ display:block; float:left; margin-right:5px; width:35px; height:35px; line-height:35px; cursor:pointer; text-align:center;}
.pagination_buyer li a{ border:1px solid #ccc;}
.pagination_buyer li a:hover{  background-color:#ff9b37; color:#fff; border:1px solid #ff9b37;}
.pagination_buyer .active{color:#fff; background-color:#ff9b37; border:1px solid #ff9b37;}
.rowCount{ line-height:30px; margin-left:50px; margin-top:40px; display:block;}
.rowCount span{font-weight:bold;}
.page_select{ background-color:#ed1c24; color:#fff; border-color:#ed1c24;}
.page_select_buyer{ background-color:#ff9b37; color:#fff; border:1px solid #ff9b37;}
.page_fpage a{
	background-image:url(../images/mix_page_02.png);
	background-repeat:no-repeat;
	background-position:-240px 5px;
	text-indent:-9999px;
}
.page_fpage a:hover{
	background-image:url(../images/mix_page_02.png);
	background-repeat:no-repeat;
	background-position:-240px -23px;
	text-indent:-9999px;
}
.page_lpage a{
	background-image:url(../images/mix_page_02.png);
	background-repeat:no-repeat;
	background-position:-240px -50px;
	text-indent:-9999px;
}
.page_lpage a:hover{
	background-image:url(../images/mix_page_02.png);
	background-repeat:no-repeat;
	background-position:-240px -78px;
	text-indent:-9999px;
}
.page_prev_seller a{
	background-image:url(../images/mix_page_02.png);
	background-repeat:no-repeat;
	background-position:-240px -106px;
	text-indent:-9999px;
}
.page_prev_seller a:hover{
	background-image:url(../images/mix_page_02.png);
	background-repeat:no-repeat;
	background-position:-240px -134px;
	text-indent:-9999px;
}
.page_next_seller a{
	background-image:url(../images/mix_page_02.png);
	background-repeat:no-repeat;
	background-position:-240px -162px;
	text-indent:-9999px;
}
.page_next_seller a:hover{
	background-image:url(../images/mix_page_02.png);
	background-repeat:no-repeat;
	background-position:-240px -190px;
	text-indent:-9999px;
}
.pages_foot_link{
	height:30px;
	line-height:30px;
}
.span_address{
    width: 400px !important;
    text-align: left !important;
    vertical-align: top;
}

