   <script>var _hmt = _hmt || [];(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?41e245ef55fe7a025a7057c999dbe778";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);})();</script>

  <script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<div class="index_bottom">
        <div class="footer_index">
            <div class="bottom_qq">
            黄页168网客服：
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2351750367&amp;site=qq&amp;menu=yes" style="margin-right:20px;">
            <img border="0" src="http://www.antchain.com/htdocs/images/com_qq.png" alt="在线咨询" title="在线咨询">
            </a>
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=3286892542&amp;site=qq&amp;menu=ye">
            <img border="0" src="http://www.antchain.com/htdocs/images/com_qq_ad.png" alt="广告咨询" title="广告咨询">
            </a>
            </div>
			<!--
            <div class="bottom_link">
            <a target="_blank" href="http://www.packye.com/gongsihuangye.html">公司黄页</a>|
            <a target="_blank" href="http://www.packye.com/shangyezixun.html">商业资讯</a>|
            <a target="_blank" href="http://www.packye.com/remenhangye.html">热门行业</a>|
            <a target="_blank" href="http://www.packye.com/chanpinpifa.html">产品批发</a>|
            <a target="_blank" href="http://www.packye.com/remengongsi.html">企业黄页</a>|
            <a target="_blank" href="http://www.packye.com/remendiqu.html">热门地区</a>|
            <a target="_blank" href="http://www.packye.com/remenzixun.html">资讯头条</a>|
            <a target="_blank" href="http://www.packye.com/xinwenbiaoqian.html">资讯标签</a>|
            <a target="_blank" href="http://www.packye.com/sitemap.html">网站地图</a>|
            <a target="_blank" href="http://www.packye.com/contact.html">联系我们</a>
            </div>
            -->
            <div class="zdx">
            <span class="zdx_text"><span style='font-family:"arial"'>Copyright ©</span> 2015-2016 <a class="a_change" style="color:#7F7F7F" href="http://www.antchain.com">黄页168网</a> 版权所有 <a class='a_change_01' style="color:#7f7f7f;" target="_blank" href="http://www.miitbeian.gov.cn">浙ICP备15040574号-2</a></span>
            </div>
        </div>
    </div>
    <script src="http://www.antchain.com/htdocs/js/setHomepage.js"></script>
