#foreach($company in $!dataResult.data)
<div class='list_content'>
	<div class='list_title'><a class='a_change' href="http://www.antchain.com/company/$velocityUtil.doGBKEncoding($!{company.companyName})-$!{company.id}.html">$!company.companyName</a></div>
    <div class='list_zy'>
    	<!--
    	主营产品：$!company.businessScope<br>
       	 品牌名称：$!company.brandName
       	-->
       	 <span class='gray_font_01'>成立时间：</span>$!{company.establishedDate}
       	 <span class='gray_font_01 marginLeft_01'>注册资本：</span>$!{company.registerPay}
       	 <span class='gray_font_01 marginLeft_01'>经营类型：</span>$!{company.businessScope}<br>
       	 <span class='gray_font_01'>员工人数：</span>$!{company.exployeesNum}
       	 <span class='gray_font_01 marginLeft_01'>年营业额：</span>$!{company.annualTurnover}<br>
       	 <span class='gray_font_01'>地址：</span>$!{company.registration}
    </div>
</div>
#end